<div class="content-box">
  <h1 class="text-center">Amateur Radio License Exam</h1>
  {{#if user}}

    {{#if user.currentQuiz}}
      <form class="text-center" action="/quiz">
        <p>You currently have a quiz in progress.</p>
        <input type="submit" value="Resume Quiz">
      </form>
    {{else}}
      <div class="start-quiz-controls">
        <form action="/" method="post">
          <h2>Start the quiz!</h2>
          <div>
            <label>Choose license type:
              <select name="licenseType">
                <option value="technician">Technician</option>
                <option value="general">General</option>
                <option value="amateur-extra">Amateur Extra</option>
              </select>
            </label>
          </div>

          <div>
            <label>Choose number of questions for quiz:
              <select name="numQuestions">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="90">90</option>
                <option value="all">All</option>
              </select>
            </label>
          </div>

          <input type="submit" value="Start Quiz"/>
        </form>
      </div>
    {{/if}}

  {{else}}
  <p class="text-center">Please <a href="/users/sign-up">sign up</a> and/or <a href="/users/login">log in</a> before taking the quiz.</p>

  {{/if}}

</div>

