{{#if user}}
  <h1>Hello, {{user.username}}</h1>
{{/if}}

<ul>
  <li><a href="/users/login">Log In</a></li>
  <li><a href="/users/sign-up">Sign Up</a></li>
  <li><a href="/quiz/start">Quiz</a></li>
</ul>
