<!DOCTYPE html>
<html>
  <head>
    <title>HAM RADIO QUIZ AND REVIEW</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="javascripts/lib/jquery.min.js"></script>
  </head>
  <body>

    <nav>
      <ul>
        {{#if user}}
          <li><a href="/users/logout">Log out</a></li>
        {{else}}
          <li><a href="/users/login">Log In</a></li>
          <li><a href="/users/sign-up">Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>

    {{{body}}}

  </body>
</html>
