<!DOCTYPE html>
<html>
  <head>
    <title>HAM RADIO QUIZ AND REVIEW</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="javascripts/lib/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
