<!DOCTYPE html>
<html>
  <head>
    <title>HAM RADIO QUIZ AND REVIEW</title>
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <ul>
        {{#if user}}
          <li><a href="/users/logout">Log out</a></li>
          <li>Welcome, {{user.username}}</li>
        {{else}}
          <li><a href="/users/login">Log In</a></li>
          <li><a href="/users/sign-up">Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>

    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/jquery-ui.min.js"></script>
    {{{body}}}

  </body>
</html>
