$text-color: #323232
$navbar-color: #121212
$off-white: #fefefe

$green: #7cc576
$red: #f26d7d

$box-shadow-color: rgba(0, 0, 0, 0.2)

$bg-gradient-1: #403b4a
$bg-gradient-2: #e7e8bb


html
  height: 100%

body
  padding: 0
  margin: 0
  font: 14px Helvetica, sans-serif
  background: linear-gradient( 120deg, $bg-gradient-1, $bg-gradient-2 ) no-repeat
  color: $text-color

nav
  background-color: $navbar-color
  margin-bottom: 2em
  box-shadow: 0 0 .2em .2em $box-shadow-color

nav ul
  margin: 0
  padding: 0
  list-style-type: none
  overflow: hidden

nav ul li
  float: right

nav ul li a
  color: $off-white
  display: inline-block
  text-align: center
  padding: .2em .4em
  text-decoration: none
  font-size: 1.2em
  transition: 0.3s

nav ul li a:hover
  color: $red

a
  color: #00B7FF

.question-form
  background-color: $off-white
  margin: 0 auto
  width: 50vw
  padding: 2em 4em 2em 4em
  border-radius: 1em
  box-shadow: 0 .4em .2em .2em $box-shadow-color

.question-form .question
  padding-bottom: .5em
  border-bottom: 2px dotted #aaa
  margin-bottom: 1em

.question-form #submit-answer
  float: right


.start-quiz-controls
  text-align: center

.start-quiz-controls form
  margin: auto

.start-quiz-controls form input[type=submit]
  float: right

#answer-choices
  margin-left: .5em

.answer-outer-container
  padding-bottom: .5em

.correct
  background-color: $green

.incorrect
  background-color: $red
  text-decoration: line-through

.page-number-display
  float: right
  font-size: .8em

.section-display
  float: left
  font-size: .8em

