<div class="content-box">
  <h3>Number of questions answered correctly:</h3>
  <div id="progressbar"></div>
  <span id="numcorrect">{{numCorrect}}</span> out of <span id="numquestions">{{numQuestions}}</span>
  <div class="page-number-display">
    <a href="/">Home</a>
  </div>
</div>

<script src="/javascripts/results.js"></script>
